// -----------------------------------------------------------------------------
// This file contains styles that are specific to the simple apps page.
// -----------------------------------------------------------------------------

html {
  font-family: $text-font-stack;
  background-color: $dark-gray-blue;
  color: $light-gray;
}

.simple-apps {
  margin-top: 12rem;
  padding: 1.2rem 4rem;

  section {
    margin: 3rem 8rem;
    padding: 3rem 4rem;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: $text-regular;

    -webkit-box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.4);  // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
    -moz-box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.4);  // Firefox 3.5 - 3.6
    box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.4);  // Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5
    transition: $smooth-trans;
  }

  section:hover {
    -webkit-box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.8);  // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
    -moz-box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.8);  // Firefox 3.5 - 3.6
    box-shadow: 3px 3px 5px 6px rgba($color: $black, $alpha: 0.8);  // Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5
    margin: 3rem 9rem 3rem 7rem;
  }
}