// -----------------------------------------------------------------------------
// This file contains styles that are specific to the simple apps page.
// -----------------------------------------------------------------------------

html {
  font-family: $text-font-stack;
  background-color: $dark-gray-blue;
  color: $light-gray;
}

.todo-list-app {
  margin-top: 12rem;
  padding: 1.2rem 4rem;

  section {
    margin: 3rem 8rem;
    padding: 3rem 4rem;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: $text-regular;
    color: $gray;

    li {
      padding: 0.5rem 0;
      list-style: none;
      font-size: 2rem;
    }
  }

  #newTodo {
    margin: 1rem 0 0;
    padding: 1rem 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: $light-gray;
  }
  
  #newTodo {
    animation-name: glowout;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
  }
  
  #newTodo:hover, #newTodo:focus {
    animation-name: glowin;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
  }  
}

@keyframes glowin {
  from {
    opacity: 0.5;
  } to {
    opacity: 1;
  }
}

@keyframes glowout {
  from {
    opacity: 1;
  } to {
    opacity: 0.5;
  }
}
